<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogsxxx.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.blogsxxx.model.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastmodifier" property="lastmodifier" jdbcType="VARCHAR" />
    <result column="lastmodifytime" property="lastmodifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.blogsxxx.model.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    id, title, pics, creater, createtime, lastmodifier, lastmodifytime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blogsxxx.model.Article" >
    insert into tb_article (id, title, pics, 
      creater, createtime, lastmodifier, 
      lastmodifytime, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pics,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{lastmodifier,jdbcType=VARCHAR}, 
      #{lastmodifytime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blogsxxx.model.Article" >
    insert into tb_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="pics != null" >
        pics,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lastmodifier != null" >
        lastmodifier,
      </if>
      <if test="lastmodifytime != null" >
        lastmodifytime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pics != null" >
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifier != null" >
        #{lastmodifier,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifytime != null" >
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blogsxxx.model.Article" >
    update tb_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="pics != null" >
        pics = #{pics,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifier != null" >
        lastmodifier = #{lastmodifier,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifytime != null" >
        lastmodifytime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blogsxxx.model.Article" >
    update tb_article
    set title = #{title,jdbcType=VARCHAR},
      pics = #{pics,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lastmodifier = #{lastmodifier,jdbcType=VARCHAR},
      lastmodifytime = #{lastmodifytime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blogsxxx.model.Article" >
    update tb_article
    set title = #{title,jdbcType=VARCHAR},
      pics = #{pics,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lastmodifier = #{lastmodifier,jdbcType=VARCHAR},
      lastmodifytime = #{lastmodifytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>